name: Check for newer dependencies

on:
  schedule:
    - cron: "37 0 * * *"
  pull_request:
    types: [ opened, reopened, synchronize ]
    paths:
      - "scripts/lib.sh"
      - "scripts/check_deps.sh"
      - "**/update-deps.yaml"
  workflow_dispatch:

env:
  GH_TOKEN: ${{ secrets.NEW_PR_TOKEN }}

jobs:
  check_deps:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout build scripts
        uses: actions/checkout@v6
      - name: Read build.env
        id: buildenv
        uses: falti/dotenv-action@v1
        with:
          path: build.env
          export-variables: true
          keys-case: upper
          log-variables: true
      - name: Install build deps
        run: |
          sudo apt-get -y update
          sudo apt-get -y upgrade
          sudo apt-get -y install libssl-dev libtls-dev
      - name: Check deps
        run: scripts/check_deps.sh build.env
