name: "Check for newer dependencies"
permissions:
  contents: read

on:
  schedule:
    - cron: "37 0 * * *"
  pull_request:
    types: [ opened, reopened, synchronize ]
    paths:
      - "scripts/lib.sh"
      - "scripts/check_deps.sh"
      - "**/update-deps.yaml"
  workflow_dispatch:

env:
  GH_TOKEN: ${{ secrets.NEW_PR_TOKEN }}

jobs:
  check_deps:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    steps:
      - name: OS setup
        run: |
          sudo apt-get -y remove --autoremove --purge apache2 firefox powershell ubuntu-pro-client
          sudo apt-get -y update
          sudo apt-get -y upgrade
      - name: Checkout build scripts
        uses: actions/checkout@v6
      - name: Read build.env
        id: buildenv
        uses: falti/dotenv-action@f4656c46de6bc223dda660f6724d52537bc0642a # v1.1.5
        with:
          path: build.env
          export-variables: true
          keys-case: upper
          log-variables: true
      - name: Install build deps
        run: |
          sudo apt-get -y install libssl-dev libtls-dev
      - name: Check deps
        run: scripts/check_deps.sh build.env
